<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->


<div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <strong>Error:</strong> {{errorMessage}}
    </div>
      
  
  <div class="row">
    <div class="col-md-9">
        <h1 class="transaction-title" id='transactionName'>RegisterFileTransaction</h1>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <br>
  
<div class="form-group text-left" ng-init="successMessage = null">
  
    <div *ngIf="successMessage=='true'">       
        <p style="color:green;">File is registered successfully</p>
      </div>
      <div *ngIf="successMessage=='false'">       
          <p style="color:red;">Sorry, something is wrong!</p>
      </div>
    <!--<label for="file">file</label>-->
    
    <input id="file" type="file" (change)="fileChanged($event)">
    <br><br>
    <button (click)="addTransaction(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
    
  </div>
  
</div>

